.container{
    max-width: 980px;
    margin: 0 auto;
}

.header__section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.header__title{
  font-size: 24pxpx;
}
.header__navigation a{
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
}
