.container{
    max-width: 980px;
    margin: 0 auto;
    
}
.section{
    background-image: url("ocean.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode: multiply; 
    max-height: 80vh;
}

.header__section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid white; */
  
}
.header__title{
  font-size: 36px;
}
.header__navigation a{
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
}
