


.signup__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid #999999;

}
